<h1>Save The Date</h1>
<h2>27/04/2013</h2>

<h2>Catriona & Chris Are Getting Married! <span id="yay">(Yay!)</span></h2>
<div class="image">
  <img src="/assets/sanfran08.jpg" width="550" height="413">
</div>

<p class="blurb">
  Check it out!<br>
  Britain's hottest couple are finally tying the knot.<br>
  After many years of "Will they? Won't they?" Chris asked if he could make an honest woman of her, Catriona said "Yes, I 'spose you could give it a go!"<br>
  Read all about it in this week's Heat magazine. </p>

<h2>Please send your online R.S.V.Ps. to weddingoftheyear@catrionaandchrisgethitched.co.uk</h2>

