/*mycool.css*/

body {
    background-image: url('/assets/paper_texture_bg.jpg');
    color: #5185B2;
    font-family: Kranky, cursive;
    margin: 0px;
}

h1 {
    margin-top: 0px;
    text-align: center;
    font-size: 48px;
    font-family: Kranky, cursive;
}

h2 {
    text-align: center;
    font-size: 36px
    font-family: Kranky, cursive;
}	


#yay {
    font-size: 24px;
}

.image {
    margin: auto;
    width: 559px;
    margin-bottom: 50px;
}

.image img {
    border: 8px solid #FFE8C5;
}

.blurb {
    margin: auto;
    width: 700px;
    text-align: center;
    font-family: Georgia, cursive;
}

.content {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    background-color: #F7F4E9;
    width: 1000px;
    margin: auto;
    padding: 50px;
}
