/*mycool.css*/

body {
    background-image: url('/assets/paper_texture_bg.jpg');
    padding: 50px;
    color: #5185B2;
    font-family: Kranky, cursive;
}

h1 {
    text-align: center;
    font-size: 48px;
    font-family: Kranky, cursive;
}

h2 {
    text-align: left;
    font-size: 36px
    font-family: Kranky, cursive;
}	


#yay {
    font-size: 24px;
}

#image {
    position: absolute
    margin-left: auto;
    margin-right: auto;
    padding:2px;
    border:4px solid #FFE8C5;
    background-color:#CDE8FF;
}

.blurb {
    position: center;
    font-family: Georgia, cursive;
}
