<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Poiret+One|Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <title>This Shit Just Got Real!</title>
  </head>
  <body background="/assets/paper_texture_bg.jpg" id="background" class="backgroundpatterns">

    <div style="position: absolute; top: 0; right: 0; width: 497px; height: 100%; pointer-events:none; background: url(/assets/flip500blueandgreenbunting-2.png) top right no-repeat;"></div>
	<div style="position: absolute; top: 0; left: 0; width: 497px; height: 100%; pointer-events:none; background:url(/assets/2leftflip500blueandgreenbunting-2.png) top left no-repeat;"></div>
	
	
	
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
